@model FOS.Shared.JobsData

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='~/Content/Style/fullcalendar.min.css' rel='stylesheet' />
<link href='~/Content/Style/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<script src='~/Scripts/lib/moment.min.js'></script>
<script src='~/Scripts/lib/jquery-ui.min.js'></script>
<script src='~/Scripts/lib/fullcalendar.min.js'></script>
<link href="~/Content/Style/jquery-ui.min.css" rel="stylesheet" />

<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title"></h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">Call Summary Detailed Report</a>
            </li>
        </ul>
    </div>
</div>


@using (Ajax.BeginForm("CallSummaryDetailedReport", "Reports", new AjaxOptions { HttpMethod = "POST" }, new { @class = "form-horizontal", id = "myForm" }))
{
    <div class="row-fluid">
        <div class="span12">
            <div class="widget green" style="min-height: 100px;">
                <div class="widget-title">
                    <h4>Call Summary Detailed Report</h4>
                    <span class="tools"></span>
                </div>
                <div class="widget-body" style="min-height: 100px;">
                    <div class="span5">

                        <div class="control-group" style="margin-bottom: 14px;">
                            <label class="control-label">Starting Date *</label>
                            <div class="controls">
                                <input class="text-box single-line" id="StartingDate1" name="StartingDate1" style="height: 22px; width: 202px; margin-bottom: 0px;">
                            </div>
                        </div>

                        <div class="control-group" style="margin-bottom: 14px;">
                            <label class="control-label">Ending Date *</label>
                            <div class="controls">
                                <input class="text-box single-line" id="StartingDate2" name="StartingDate2" style="height: 22px; width: 202px; margin-bottom: 0px;">
                            </div>
                        </div>

                        <div class="control-group" style="margin-bottom: 14px;">
                            <label class="control-label">Region *</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.RegionalHeadID, new SelectList(Model.RegionalHead, "ID", "Name"), new { @class = "" })
                                @Html.ValidationMessageFor(model => model.RegionalHeadID)
                            </div>
                        </div>

                        <div class="control-group" style="border-top: 1px solid #e5e5e5;">
                            <div class="form-actions" style="padding-left: 130px; padding-right: 0px;">
                                <button type="submit" id="btnNew" class="btn btn-primary">
                                    <i class="icon-ok icon-white" style="padding-right: 8px"></i><span id="create">Export Report</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {

        $('#StartingDate1').datepicker({
            dateFormat: 'dd-M-yy',
            changeMonth: true,
            changeYear: true,
            yearRange: '1950:2100'
        });
        $('#StartingDate2').datepicker({
            dateFormat: 'dd-M-yy',
            changeMonth: true,
            changeYear: true,
            yearRange: '1950:2100'
        });

        $('#btnNew').click(function (e) {
            e.preventDefault();
            var $sdate = $("#StartingDate1").val();
            var $edate = $("#StartingDate2").val();
            var $TID = $("#RegionalHeadID").val();

            if ($sdate == "") {
                alertify.error("Please Enter Starting Date");
                return false;
            }
            if ($edate == "") {
                alertify.error("Please Enter Ending Date");
                return false;
            }

            window.open("@Url.Action("CallSummaryDetailedReportRpt", "Reports")" + "?TID=" + $TID + "&sdate=" + $sdate + "&edate=" + $edate);
        });
    });
</script>
